dash
plotly
pandas
pyarrow
flask-caching
waitress
numpy
Jinja2
MarkupSafe
Werkzeug
blinker
cachelib
certifi
charset-normalizer
click
dash-core-components
dash-html-components
dash-table
idna
importlib-metadata
itsdangerous
nest-asyncio
packaging
python-dateutil
pytz
requests
retrying
six
tenacity
typing-extensions
tzdata
urllib3
zipp